# .env.example

NODE_ENV = running environment
HOST= server host address
PORT= server port
API_PATH = API path (/base-path or nothing)
LOG_CFG = Log4js configuration: {default, TRACING, TEST, RELEASE}
GPM_BURL= GpmPower base url
GPM_URL= GpmPower operation
METE_URL= Metologica url
METE_WSDL= Meteologica wsdl
